<?xml version="1.0"?>
<robot name="mapir_survey3_visual">
  <link name="mapir3_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///opt/curt_description_meshes/Assembly_Cameras.obj" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <link name="mapir3_optical_frame"/>

  <joint name="mapir3_link_to_optical" type="fixed">
    <parent link="mapir3_link"/>
    <child link="mapir3_optical_frame"/>
    <origin xyz="0 0 0" rpy="1.5707963 0 3.1415926"/>
  </joint>
</robot>
